.contractinterface {
  padding: 0 0.5rem;
}
.contractinterface__address {
  font-size: 10px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.contractinterface__copy {
  margin-bottom: 8px;
}
