.homepage {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #ffd209;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.homepage__content {
  background: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
