body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Colors and Global CSS Variables are defined here */
:root {
  --textPrimary: var(--text);
  --bgPrimary: var(--body-bg);
  --accentColor: var(--secondary);
  --accentColor30: var(--secondary);
}
